<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

</head>

<body  ng-app="phoneAndName"ng-controller="Controller">
    Display:
<input type="text" placeholder="Name" ng-model="name">
<input type="text" placeholder="Phone" ng-model="phone">
<button ng-click='answer()'>Click </button>
<hr>
{{say}}




    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js"></script>
    <script src="index.js"></script>

</body>

</html>
